.inventory-management {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .inventory-management h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .inventory-management button {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    padding: 5px 15px;
    background-color: #2196f3;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .inventory-management button:hover {
    background-color: #0c7cd5;
  }
  