.btform {
margin-top :5rem;
  display: flex;
    justify-content: space-around;
}

.brandform,
.typeform {
  display: flex;
  flex-direction: column;
}
.BrandTable {
  border-collapse: collapse;
  width: 100%;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.BrandTable th,
.BrandTable td {
  border: 1px solid #ddd;
  padding: 8px;
}

.BrandTable th {
  text-align: left;
  background-color: #d3d3d3;
  color: black;
  font-weight: bold;
}

.BrandTable tr {
  transition: all 0.2s;
}

.BrandTable tr:hover {
  background-color: rgba(126, 126, 126, 0.1);
}

.BrandTable button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s;
}

.BrandTable button:hover {
  background-color: #ff7962;
}

.BrandTable th:nth-child(1) {
  width: 70%;
}
.BrandTable th:nth-child(2) {
  text-align: center;

  width: 30%;
}
